$color-white: #ffffff;
$font-family: "Archivo", sans-serif;
$fonts-family: "Raleway", sans-serif;

$font-raleway: "Raleway", sans-serif;
$font-archivo: "Archivo", sans-serif;
$color-lightgreen: #f7fff5;
$color-black: #232721;
