@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "variables";
@import "monitoring";

body {
  position: relative;
}

// .navbar {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
// }

// .navbar-brand {
//   font: bold 14px/15px $font-family;
//   color: $color-white;
// }

// .navbar-nav {
//   font: bold 14px/15px $font-family;
//   color: $color-white;
// }

.jumbotron1 {
  background: url("../img/background-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0;
  min-height: 100vh;
  align-items: center;
  background-attachment: fixed;
}

.display-4 {
  font: bold 55px/70px $fonts-family;
  text-transform: uppercase;
  color: $color-white;
  @media screen and (max-width: 576px) {
    font-size: 35px;
    line-height: 45px;
  }
}

.button {
  border: 2px solid $color-white;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 27.5px;
  background-color: transparent;
  color: $color-white;
  width: 100px;
  height: 40px;
}

.lead {
  color: $color-white;
  font: normal 25px/33px $fonts-family;
  @media screen and (max-width: 576px) {
    font-size: 20px;
    line-height: 30px;
  }
}

#home {
  margin-bottom: 45px;
  .swiper {
    &-button-prev {
      font-size: 2rem;
      color: #59884e;
      &::after {
        content: "";
      }
    }
    &-button-next {
      font-size: 2rem;
      color: #59884e;
      &::after {
        content: "";
      }
    }
  }
}

#home .col-md-6 {
  .paragraf {
    text-align: justify;
    margin: 20px 0 0 0;
    font: normal 20px/25px $fonts-family;
    @media screen and (max-width: 576px) {
      font-size: 13px;
      line-height: 19px;
      margin: 20px 0 0 0;
    }
  }
  .judul-bagian2 {
    margin: 20px 0 0 0;
    font: normal 36px/42px $fonts-family;
    @media screen and (max-width: 576px) {
      font-size: 26px;
      line-height: 36px;
      margin: 20px 0 0 0;
    }
  }
}

#home .col-md-6 {
  .gambar-bagian2 {
    display: block;
    width: 506px;
    box-sizing: border-box;
    max-width: 100%;
    margin: auto;
  }
}

#home {
  .swiper-button {
    border: 2px solid #59884e;
    box-sizing: border-box;
    color: #59884e;
    background-color: #f7fff5;
    border-radius: 50px;
    font: bold 18px/21px $fonts-family;
    text-align: center;
    padding: 11px 30px;
    margin: 10px 15px;
    @media screen and (max-width: 576px) {
      font-size: 14px;
    }
    &.active {
      background-color: #59884e;
      color: #f7fff5;
    }
  }
}

#home-1 .col-md-6 {
  .table1 {
    color: #000000;
    th {
      font: normal 18px/35px $fonts-family;
      text-align: justify;
      letter-spacing: 0.04em;
      padding: 15px 0 10px;
    }
    td {
      font: normal 18px/21px $fonts-family;
      font-family: Raleway;
      text-align: justify;
      letter-spacing: 0.04em;
      padding: 10px 0 10px;
      color: #000000;
      .bi {
        padding-right: 10px;
        color: #59884e;
      }
    }
  }
  h2 {
    margin: auto;
    font: normal 36px/42px $fonts-family;
    @media screen and (max-width: 576px) {
      font-size: 26px;
      line-height: 36px;
      margin: auto;
    }
  }
}

#home-1 .col-md-6 {
  img {
    display: block;
    width: 506px;
    box-sizing: border-box;
    max-width: 100%;
    margin: auto;
  }
}

#home-1 .col-4 {
  .button7 {
    border: 2px solid #59884e;
    display: block;
    box-sizing: border-box;
    color: #59884e;
    height: 45px;
    background-color: #f7fff5;
    border-radius: 22.5px;
    font: bold 18px/21px $fonts-family;
    text-align: center;
    margin: auto;
    @media screen and (max-width: 576px) {
      font-size: 14px;
      margin: auto;
    }
  }
  .button8 {
    border: 2px solid #59884e;
    display: block;
    box-sizing: border-box;
    color: #59884e;
    height: 45px;
    background-color: #f7fff5;
    border-radius: 22.5px;
    font: bold 18px/21px $fonts-family;
    text-align: center;
    margin: auto;
    @media screen and (max-width: 576px) {
      font-size: 14px;
      margin: auto;
    }
  }
  .button9 {
    border: 2px solid #59884e;
    display: block;
    box-sizing: border-box;
    color: #59884e;
    height: 45px;
    background-color: #f7fff5;
    border-radius: 22.5px;
    font: bold 18px/21px $fonts-family;
    text-align: center;
    margin: auto;
    @media screen and (max-width: 576px) {
      font-size: 14px;
      margin: auto;
    }
  }
}

#home-2 .col-md-6 {
  p {
    text-align: justify;
    margin: 20px 0 0 0;
    font: normal 20px/25px $fonts-family;
    @media screen and (max-width: 576px) {
      font-size: 13px;
      line-height: 19px;
      margin: 20px 0 0 0;
    }
  }
  h2 {
    margin: 20px 0 0 0;
    font: normal 36px/42px $fonts-family;
    @media screen and (max-width: 576px) {
      font-size: 26px;
      line-height: 36px;
      margin: 20px 0 0 0;
    }
  }
}

#home-2 .col-md-6 {
  img {
    display: block;
    width: 506px;
    box-sizing: border-box;
    max-width: 100%;
    margin: auto;
  }
}

#home-2 .col-4 {
  .button10 {
    border: 2px solid #59884e;
    display: block;
    box-sizing: border-box;
    color: #59884e;
    height: 45px;
    background-color: #f7fff5;
    border-radius: 22.5px;
    font: bold 18px/21px $fonts-family;
    text-align: center;
    margin: auto;
    @media screen and (max-width: 576px) {
      font-size: 14px;
      margin: auto;
    }
  }
  .button11 {
    border: 2px solid #59884e;
    display: block;
    box-sizing: border-box;
    color: #59884e;
    height: 45px;
    background-color: #f7fff5;
    border-radius: 22.5px;
    font: bold 18px/21px $fonts-family;
    text-align: center;
    margin: auto;
    @media screen and (max-width: 576px) {
      font-size: 14px;
      margin: auto;
    }
  }
  .button12 {
    border: 2px solid #59884e;
    display: block;
    box-sizing: border-box;
    color: #59884e;
    height: 45px;
    background-color: #f7fff5;
    border-radius: 22.5px;
    font: bold 18px/21px $fonts-family;
    text-align: center;
    margin: auto;
    @media screen and (max-width: 576px) {
      font-size: 14px;
      margin: auto;
    }
  }
}

#home2 {
  background-color: #59884e;
  background-size: cover;
  background-position: 0;
  padding: 73px 0 10px;
  .home2-title {
    color: $color-white;
    font: bold 72px/85px $fonts-family;
    width: fit-content;
    font-size: 46px;
    line-height: 60px;
    &::after {
      display: block;
      content: "";
      width: 80%;
      height: 2px;
      background-color: #f7fff5;
      margin-top: 28px;
      margin-bottom: 73px;
    }
  }
}

.cards {
  .gambar-tanaman {
    width: 245px;
    display: block;
    margin: auto;
    padding: 0 10px;
  }
  .table {
    color: $color-white;
    th {
      font: bold 14px/16px $fonts-family;
      text-align: justify;
      letter-spacing: 0.04em;
      border-bottom: 1px solid;
      padding: 30px 0 10px;
    }
    .rincian-tanaman {
      .penjelasan {
        font: normal 14px/16px $fonts-family;
        font-family: Raleway;
        text-align: justify;
        letter-spacing: 0.04em;
        color: #f7fff5;
      }
      .titik {
        position: absolute;
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background-color: #f7fff5;
        box-sizing: border-box;
      }
      .gambar-bagian3 {
        width: 13.16px;
        position: absolute;
        display: block;
        padding: 0 3px;
      }
    }
  }
}

.footer {
  background-color: #59884e;
  text-align: end;
  width: 100%;
  height: 131px;
}

.footer p {
  font: bold 24px/28px $fonts-family;
  text-align: right;
  @media screen and (max-width: 576px) {
    font-size: 16px;
  }
}

.button2 {
  border: 2px solid $color-white;
  display: block;
  box-sizing: border-box;
  color: #59884e;
  width: 237px;
  height: 45px;
  background-color: #f7fff5;
  border-radius: 22.5px;
  font: bold 16px/19px $fonts-family;
  text-align: center;
  margin-top: 39px;
  margin-bottom: 58px;
}

.home5-title {
  font: bold 48px/56px $fonts-family;
  text-align: center;
  padding-top: 61px;
  padding-bottom: 53px;
}

.cards4 {
  .title-4 {
    font: normal 18px/21px $fonts-family;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 32px;
    text-align: center;
    &::before {
      display: block;
      content: "";
      width: 237px;
      height: 1px;
      background-color: #000000;
      margin-bottom: 10px;
      margin: auto;
      max-width: 100%;
    }
  }
  .gambar-artikel {
    width: 236px;
    display: block;
    margin: auto;
    max-width: 100%;
    padding: 0 5px;
  }
  .paragraf-artikel {
    font: normal 14px/16px $fonts-family;
    text-align: justify;
    letter-spacing: 0.04em;
    margin-top: 39px;
    margin-bottom: 26px;
  }
}

.button3 {
  border: 2px solid #232721;
  display: block;
  box-sizing: border-box;
  border-radius: 27.5px;
  background-color: transparent;
  color: #232721;
  width: 379px;
  height: 45px;
  border-radius: 22.5px;
  font: bold 16px/19px $fonts-family;
  text-align: center;
  margin-bottom: 127px;
  margin-top: 26px;
}

/* Page 2 */
.jumbotron2 {
  background: url("../img/bc.png");
  height: 360px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  background-attachment: fixed;
}
.judul {
  font: bold 64px/75px $fonts-family;
  text-align: center;
  color: $color-white;
  @media screen and (max-width: 576px) {
    font-size: 45px;
  }
}

.body1 {
  .container {
    width: fit-content;
    border: 1px solid transparent;
    margin: auto;
    background-color: #59884e;
    border-radius: 27.5px;
    margin-top: -105px;
  }
  .konten {
    text-align: center;
    align-items: center;
  }
}

.title {
  position: relative;
  margin-top: 54px;
  margin-bottom: 43px;
  &::after {
    position: absolute;
    content: "";
    background-color: $color-white;
    width: 100%;
    height: 3px;
    top: 50%;
    left: 0;
    z-index: 1;
  }
  span {
    position: relative;
    display: block;
    font: bold 24px/28px $fonts-family;
    text-align: center;
    letter-spacing: 0.04em;
    color: $color-white;
    z-index: 2;
    background-color: #59884e;
    width: fit-content;
  }
}
.cards2 {
  h2 {
    font: normal 18px/21px $fonts-family;
    font-weight: 500;
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 32px;
    margin-top: 23px;
    margin-bottom: 25px;
    text-align: justify;
  }
  img {
    width: 237px;
    max-width: 100%;
  }
  p {
    font: normal 14px/16px $fonts-family;
    text-align: justify;
    letter-spacing: 0.04em;
    margin-bottom: 26px;
    color: $color-white;
  }
}

.lead {
  color: $color-white;
  @media screen and (max-width: 576px) {
    font-size: 28px;
    line-height: 33px;
  }
}

#body2 {
  height: fit-content;
  padding-bottom: 70px;
}

#body2 .col-md-6 {
  p {
    text-align: justify;
    margin: 10px 0 0 0;
    font-size: 17px;
    @media screen and (max-width: 576px) {
      font-size: 12px;
      line-height: 15px;
    }
  }
  h2 {
    margin: 20px 0 0 0;
    font-size: 23px;
    text-transform: uppercase;
    @media screen and (max-width: 576px) {
      font-size: 18px;
      line-height: 20px;
    }
  }
  img {
    width: 517px;
    margin: 20px 0 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  a {
    margin: 20px 0 0 0;
    font-size: 14px;
    color: #000;
  }
}
